<div class="columns">
    <div class="column"></div>
    <div class="column is-half">
        <div class="content" style="font-size: larger;">
            <p class="title is-2" style="text-decoration: underline;">
                ADDITIONAL SERVICES
            </p>
            <p>
                OUR COMPANY in Montenegro also provides additional services for regular customers:
            </p>
            <ul>
                <li>
                    Direct car hire in Montenegro - no broker needed
                </li>
                <li>
                    Credit card number is not required for booking
                </li>
                <li>
                    Affordable car rental in Montenegro
                </li>
                <li>
                    Services of the highest quality
                </li>
                <li>
                    Unlimited mileage
                </li>
                <li>
                    24/7 road assistance
                </li>
                <li>
                    No extra fees in case of delayed flights
                </li>
                <li>
                    Comprehensive insurance
                </li>
                <li>
                    Ski rack, roof rack, baby seat, maps, mobile phone, tire chains , cd's FREE on request
                </li>
                <li>
                    Free car delivery and pick-up at the Tivat Airport
                </li>
                <li>
                    Free car delivery and pick-up at the Podgorica Airport
                </li>
                <li>
                    24/7 pick-up/return service
                </li>
                <li>
                    Meet and greet service
                </li>
            </ul>
        </div>
    </div>
    <div class="column"></div>
</div>