<div class="columns">

    <div class="column"></div>
    <div class="column is-half" style="font-size: larger;">
        <div class="content">
            <p class="title is-2" style="text-decoration: underline;">CUSTOMER SERVICE</p>
            <p class="title is-3">FAQ</p>
            <hr>
            <p><strong>Which car do I really need?</strong></p>
            <p>Think carefully about the actual time spent in the vehicle as well as about the room you need for passengers and luggage.</p>
            <p><strong>Is a credit card required when booking a car?</strong></p>
            <p><strong></strong>No, a credit card is not required for the booking.</p>
            <p><strong>When am I paying for the car?</strong></p>
            <p><strong></strong>Payment (by credit card or in cash) is made upon picking up the car.</p>
            <p><strong>Is a deposit required?</strong></p>
            <p>No, it is not. Our representative will ask for your credit card and the credit card number will be entered in your contract for security purposes. Please note that we will not block the money on your credit card.</p>
            <p><strong>Can I pick up the vehicle at one airport and return it on another?</strong></p>
            <p>Yes, of course, it is possible.</p>
            <p><strong>What if I'll have to change the rental dates and/or postpone the reservation?</strong></p>
            <p>You can change or cancel the agreed rental dates latest two days in advance. You can change rental dates without additional payments.</p>
            <p><strong>What if I prolong the rental time?</strong></p>
            <p>You should contact us one day before your rental time ends, so that our staff can check out whether you can prolong the rental agreement.</p>
            <p><strong>What if I return the vehicle before the agreed date?</strong></p>
            <p>Agency will charge the total sum for all the rental days. We don't return money in if the vehicle is returned sooner than agreed initially.</p>
            <p><strong>How much is the car rent?</strong></p>
            <p>The price depends on the number of days for which you are renting the car. To companies which rent cars, special rates are offered in order to satisfy their needs. The price includes regular car maintenance, a change in case the car is crashed
                or broken, third person insurance and 21&nbsp;% VAT. The price does not include petrol.</p>
            <p><strong>When shall I confirm the booking?</strong></p>
            <p>It’s in your best interest to confirm the booking as soon as possible after having received our offer, so we can offer you the best possible price. We confirm the booking by sending you confirmation mail. Once you did booking – you are guaranteed
                that the agreed vehicle will wait for you under the agreed conditions.</p>
            <p><strong>How do I book the car?</strong></p>
            <p>You can book the car by e-mail or by phone.</p>
            <p><strong>Why I have to give flight number?</strong></p>
            <p>We ask you about flight number to rent a car in Montenegro. To reason of this is that our staff will be on time at the airport even if the flight is delayed. Do not worry if your flight is canceled because we will be informed.</p>
            <p><strong>What if the plain is late?</strong></p>
            <p>Delta Car assures you that our agent will wait for you - by knowing your flight number we'll have precise information about your landing time.</p>
            <p><strong>Shall I immediately book the additional equipment?</strong></p>
            <p>If you need baby seat, mobile phone or GPS, you'd better order it in advance, during the booking so we can save it for you.</p>
            <p><strong>How can I make the payment?</strong></p>
            <p>Total sum will be paid after signing the existing rental contract. You can pay in cash, by credit card or by making a bank payment on our account.</p>
            <p><strong>What about petrol?</strong></p>
            <p>Vehicles are rented with full tank and are returned like that. Otherwise, you are paying for the petrol you spent and an additional sum of 10 euro(refueling service). In every case – you are giving back as much petrol as you received.</p>
            <p><strong>How will you find our agent at the airport?</strong></p>
            <p>Rent a Car - Delta representative will meet you with your name written on the board.</p>
            <p><strong>Can third parties drive the rented car?</strong></p>
            <p>Only people listed in the contact can drive the car. In case of an accident if a person who was not listed in the contract had driven the car – the car insurance is not valid.</p>
            <p><strong>Can I drive the vehicle to other countries?</strong></p>
            <p>Yes, you can, though you need our (Delta Car) written permission and green card.</p>
            <p><strong>What to do in case of an accident?</strong></p>
            <p>We are asking you to keep yourself collected. Please contact immediately Traffic Police on phone number 122 and then request all necessary paperwork you need for the insurance companies from the police officers. Please inform Delta Car immediately
                about your health state, any damage caused to the vehicles and please try to describe what happened in the most precise way so we can organize any kind of support on your behalf e.g. ambulance, road assistance etc. You pay nothing in case
                you are not responsible for the accident that happened and we will provide a replacement vehicle ASAP.</p>
            <p><strong>What if the car breaks?</strong></p>
            <p>Call the numbers we gave you when we passed you the car, we are here for you 24/7. Vehicles from our fleet are quite new and have factory-covered guarantee.</p>
            <p><strong>What if I return the vehicle before of after the agreed time?</strong></p>
            <p>You can return the vehicle earlier or later, but you have to let us know in advance. In every case, the rental price is formed on the base of minimum 24h, so that for one-day-rental two hours of extension are tolerated, after that we are charging
                another day.</p>
            <h3 class="title is-3">Driving a car in Montenegro</h3>
            <hr>
            <p>Driving regulations:</p>
            <p>Most roads in Montenegro are curvy and mountainous, so speeds over 70 km/h are rarely legal, and rarely safe.</p>
            <p>SPEED LIMIT - Speed limit is 80km/h on the open road, unless signs specify otherwise. Speed limit inside the cities is 50km/h.</p>
            <p>SAFETY BELTS - The use of safety belts is compulsory</p>
            <p>MOBILE PHONES - Use of cell phones while driving is prohibited. Hands Free systems are an exception.</p>
            <p>HEADLIGHTS - It is necessary to use headlights 24 hours a day in Montenegro.</p>
            <p>The best way to travel in Montenegro by hired vehicle is to rent a car from a registered car rental agency. The prices are affordable and the car hiring services have international standards including the reliable insurances.</p>
            <h3 class="title is-3">Useful driving tips</h3>
            <hr>
            <p>When driving from Podgorica to Budva, one can choose between the two ways, either via Historical Capital of Cetinje where The King Nikola’s Castle and Cetinje Monastery can be visited or the road via tunnel Sozina can be taken which shortens
                the journey significantly; it’s advisable to travel via Sozina tunnel if you are heading towards cities of Bar , Ulcinj, Sutomore, Petrovac , Budva, Kotor, Herceg Novi.</p>
            <p>When driving from Budva to Kotor, there are also two ways – one is via tunnel Vrmac, that’s the shorter and safer road, but for the taste of adventure we suggest taking the old road through Trojica hill above the city of Kotor, that’s steep
                and tortuous mountain road but from there you can enjoy the picturesque panoramic view on Kotor bay, surrounding countryside landscape and remote villages.</p>
            <h3 class="title is-3">Important numbers</h3>
            <hr>
            <p>General info: 1181<br>Emergency: 124<br>Police: 122<br>Exact time: 125<br>Weather forecast: 044800200<br>Help on the road: 19807<br>Wake up service: 1181<br>Wire (telegram): 126<br>International calls: 1201<br>Internet Montenegro 1500<br>Dial-up
                connection: 19402</p>
            <p><strong>We will do our best to make sure you enjoy the best service in our company.</strong></p>
        </div>
    </div>
    <div class="column"></div>
</div>