<div class="columns">

    <div class="column"></div>
    <div class="column is-half">
        <div class="content" style="font-size: larger;">
            <h1 class="title is-2" style="text-decoration: underline;">RENTAL CONDITIONS</h1>
            <p>Delta Car rent-a-car Montenegro is a family owned company that runs a wide fleet of brand new vehicles.</p>
            <p>We are available on the phone 24/7, both in Russian and English. We have efficient “on road” service that guarantees you immediate help in case of unexpected setbacks.</p>
            <p>We are qualified to provide the best possible service on your arrival and departure at/from the airport as well as at any address of residence within borders of Montenegro.</p>
            <p>The rented car is paid at the delivery either by main credit cards (Visa, Master, and Amex) or cash.</p>
            <p><strong>Please read the general rental conditions for renting a car in Montenegro with Delta Car:</strong></p>

            <ul>
                <li>Minimum rental charge is one day (24 h)</li>
                <li>If daily rate is exceeded by more than two hours an additional day will be charged.</li>
                <li>Minimum drivers’ age is 23 years.</li>
                <li>A valid driver’s license held for at least 3 years is required.</li>
                <li>Rental charges must be paid in cash or by credit card (VISA, MASTER, AMEX, DINERS).</li>
                <li>VAT is included in price.</li>
                <li>Insurance (CDW and TP) are included in price.</li>
                <li>Unlimited mileage for territory of Montenegro.</li>
                <li>Fuel is not included in price.</li>
                <li>Customer is obliged to return the vehicle with the same fuel level as during pick-up.</li>
                <li>Crossing State border is not allowed without written permission from DELTA CAR.</li>
                <li>Parking and traffic fines are client’s responsibility.</li>
                <li>In the case of lost keys or documents, the €500,00 fine must be paid.</li>
                <li>Special rates are provided for long term rental.</li>
            </ul>
            <p>Only persons indicated in the car rental Contract can drive the rented car.<br></p>
            <h3>INSURANCE</h3>
            <p>The insurance is Kasko (CDW, TPL&nbsp; and TP), which means that it covers all kind of damage including theft.</p>
            <p>Insurance does not cover the following:</p>
            <ul>
                <li>damage to the tires, wheels, windscreen, underside of the car and interior of the car.</li>
                <li>damage caused when driving under the influence of alcohol, drugs or other intoxicating substances.</li>
                <li>damage of the vehicle caused when driving without a valid driving license or if the driver is not authorized in Contract.<br><br>The vehicle may only be used on public roadways. The use of the vehicle in the following circumstances is
                    expressly prohibited--The driving of the vehicle on unauthorized or unsurfaced roads, rough roads or roads whose condition is such that they pose a risk of the vehicle being damaged.</li>
            </ul>
            <h3>POLICE RECORD IS OBLIGATORY FOR ALL TYPES OF INSURANCE</h3>
            <p>Without police record full amount of damage or theft will be charged to a Renter. (Call 122 to ask for Police assistance)</p>
            <p>In case of the accident or any damage&nbsp; the Renter is obliged to immediately inform Police and DELTA CAR about the situation and follow their instruction.</p>
            <p>Police record is obligatory even under circumstances when the Renter was not present at the time when the damage was done.(e.g. the damage done at the parking lot by unknown person).</p>
            <p>Police record is obligatory even in case of a scratch on the car.</p>
            <p>All interpersonal right and obligation are regulated by the car rental Contract the Renter signs when taking over the vehicle.</p>
            <h4><strong>Basic insurance (CDW , TPL and TP)</strong><br>mandatory insurance with damage liability covers the following:</h4>
            <ul>
                <li><strong>CDW insurance (Collision Damage Waiver)</strong>&nbsp;- limits the Client’s liability associated with the vehicle damage to the excess level, depending on the vehicle group. The customer pays the amount towards the claim according
                    to Delta Car rates.</li>
                <li><strong>TP (Theft Protection)</strong>&nbsp;- vehicle theft and vehicle parts theft insurance - this waiver protects you towards the claim the same way as the CDW, explained above.</li>
            </ul>
            <p>However, this waiver does not apply in case you left the vehicle unlocked, or you left the key inside, or if you allowed a third party to drive the vehicle without alerting Delta Car. For this insurance to be applied, the customer must provide
                the police record to Delta Car agent. Alternatively, the insurance is invalid, and you become 100% responsible for the damage and costs. For your own protection, please contact Police immediately (by calling 122), even if you haven’t been
                present at the site nor witnessed the damaging of your rented vehicle.</p>
            <p>This insurance is not valid in case you have caused the damage under the influence of alcohol, drugs and substance abuse, or have damaged it on purpose or by irresponsible behavior; in case you have used the wrong type of fuel or allowed the
                unauthorized individual to conduct it; in case you used it for any kind of testing or for racing purposes, etc.</p>
            <h4><strong>TPL (Third Party Liability insurance)</strong></h4>
            <p>The basic insurance does not cover the following:</p>
            <ul>
                <li>Vehicle tires damage</li>
                <li>Vehicle rims damage</li>
                <li>Damage to the lower part of the vehicle</li>
                <li>Damage to the interior of the vehicle or windows</li>
            </ul>
            <p>except when the damage is caused by an accident or a car crash.</p>
            <p>Costs for damage liability are presented through the vehicle groups in the following manner:</p>
            <ul>
                <li>A, B, BA 300€</li>
                <li>C, CA,&nbsp;D, DA 400€</li>
                <li>E, EA, F, FA 450€</li>
                <li>H, HA 500€</li>
                <li>J 600€&nbsp;</li>
            </ul>
            <p>The rates include the following:</p>
            <ul>
                <li>Road assistance 24/7</li>
                <li>Local taxes</li>
                <li>Unlimited mileage (for the territory of Montenegro)</li>
            </ul>
            <p><strong><u>ADDITIONAL INSURANCE&nbsp;&nbsp;</u></strong></p>
            <p>&nbsp; &nbsp; &nbsp; &nbsp; <strong>&nbsp;SCDW<br>Super Collision Damage Waiver</strong></p>
            <p>This insurance removes your liability for the vehicle damage - you are not responsible for any damage costs, even if you have caused the damage, BUT only if you provide the police record. However, the SCDW does not cover the interior damage
                of the vehicle (except if it was caused by a crash - accident), the damage to vehicle frame, wheels or tires, window, for lost or broken car keys, lost vehicle ID documents. Purchasing this insurance you are also benefiting from the PAI
                insurance.
            </p>
            <p>PAI is the insurance for the driver and passengers in case of death or invalidity resulting from the accident, to the amoount specified by the insurance company coverage of the DELTA CAR vehicle.</p>
            <p>ADVICE: Get acquainted with all the insurance packages and your responsibilities in case of damage or vehicle theft. Please bear in mind that police record about the accident/theft is mandatory for the insurance validation (including the SCDW).
                WITHOUT THE POLICE RECORD, THE CUSTOMER IS ENTIRELY RESPONSIBLE FOR THE DAMAGE COSTS.</p>
            <p><strong>WUG<br>Wheel, Underside and glass insurance</strong><br></p>
            <p>This insurance covers the damage of wheels, rims and tires, the underside and vehicle frame and glass.&nbsp;</p>
            <p>The WUG insurance does not cover the interior damages to the vehicle (unless it’s cause by the accident - car crash).&nbsp;</p>
            <p>The vehicle may only be used on public roadways. The use of the vehicle in the following circumstances is expressly prohibited--The driving of the vehicle on unauthorized or unsurfaced roads, rough roads or roads whose condition is such that
                they pose a risk of the vehicle being damaged.<br></p>
        </div>
    </div>
    <div class="column"></div>

</div>