<div class="columns">
    <div class="column">
        <div class="level">
            <div class="level-item">
                <div class="title">WELCOME TO OUR FAMILY!</div>
            </div>
        </div>

        <div class="content">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi sit mollitia officia dolores ab. Accusamus perferendis, recusandae odio alias consectetur delectus ullam rerum nemo sapiente veniam? Quod doloribus tenetur delectus? Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Laudantium, dignissimos officia dolorem enim at hic a, officiis adipisci ex, corrupti asperiores neque voluptates voluptatibus exercitationem quo aliquid ut et vel. Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Voluptatem molestias, aliquid adipisci amet, facere aut porro ducimus veritatis nobis deleniti, excepturi placeat eos dolorem numquam modi aspernatur explicabo ratione sapiente. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Fugiat, voluptas? Temporibus quam at a accusamus mollitia, repellat quos ducimus dolore recusandae, laboriosam nobis praesentium sequi delectus veritatis vero ipsa voluptatem.
            </p>
        </div>

        <br>

        <div class="card" style="background-color: #3e8ed0;">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../../assets/img2.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="content" style="color: #fff">
                <p class="ml-2">
                    Stay in touch with the latest news of our company by following one of our social network accounts. Help us grow our network, subsribe for latest events, and collect special discounts for your next rents!
                </p>
            </div>
            <footer class="card-footer">
                <a href="https://www.facebook.com" target="_blank" class="card-footer-item mt-2 mb-3">
                    <span class="icon-text has-text-light">
                        <span class="icon">
                            <i class="fa-brands fa-facebook-square fa-2xl has-text-light"></i>
                        </span>
                    <span>FACEBOOK PAGE</span>
                    </span>
                </a>
                <a href="https://www.twitter.com" target="_blank" class="card-footer-item mt-2 mb-3">
                    <span class="icon-text has-text-light">
                        <span class="icon">
                            <i class="fa-brands fa-twitter-square fa-2xl has-text-light"></i>
                        </span>
                    <span>TWITTER PAGE</span>
                    </span>
                </a>
                <a href="https://www.instagram.com" target="_blank" class="card-footer-item mt-2 mb-3">
                    <span class="icon-text has-text-light">
                        <span class="icon">
                            <i class="fa-brands fa-instagram fa-2xl has-text-light"></i>
                        </span>
                    <span>INSTAGRAM PAGE</span>
                    </span>

                </a>
            </footer>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-image">
                <figure class="image is-4by3">
                    <img src="../../assets/img1.jpg" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content" style="background-color: #363636;">

                <div class="content" style="color: #fff;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus atque molestias laudantium unde nesciunt facilis quia commodi enim soluta quasi sapiente accusantium
                        esse maxime, nisi officia delectus eaque laborum voluptatibus. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias similique quos non explicabo fugiat optio voluptatem. Nulla adipisci obcaecati accusamus est praesentium
                        esse ipsam dolores! Rerum magni provident deleniti atque. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore quae consectetur accusamus adipisci delectus facere ex veniam officiis nemo ullam et sed atque voluptate
                        pariatur, eaque maiores, illum dignissimos nobis! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt expedita vitae alias molestias ea harum obcaecati, consequatur nostrum voluptas aliquam iste a corrupti non, magnam
                        sequi optio unde quia asperiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum ullam eum quia ex vitae? Quas perferendis eaque libero magnam odit ducimus quisquam omnis pariatur! At eius consectetur distinctio
                        totam illum.
                    </p>
                    <br>
                    <hr>
                    <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                </div>
            </div>
        </div>
    </div>

</div>