<section class="hero is-info ">
    <div class="hero-body columns">
        <div class="column is-one-fifth">
            <div class="control has-icons-left">
                <div class="select is-medium">
                    <select #select (change)="getCarsSorted(select.value)" (ngModel)="sortingTypes" class="is-full-width">
                        <option selected disabled>Sort</option>
                        <option *ngFor="let sort of sortingTypes">{{ sort.name }}</option>
                    </select>
                </div>
                <span class="icon is-medium is-left">
                  <i class="fas fa-search"></i>
                </span>
            </div>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <label>Show only:</label>
                </div>
                <div class="column is-one-fifth" *ngFor="let categoryName of categoryNames">
                    <button class="button is-light is-medium is-fullwidth" (click)="showCategory(categoryName)">{{ categoryName }}</button>
                </div>
                <div class="column is-one-fifth">
                    <button class="button is-medium is-info is-light" (click)="refresh()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="mt-3 ml-3">
    <hr>
    <div class="columns is-multiline">
        <div class="column is-one-third" *ngFor="let car of cars">
            <a routerLink="/vehicle/{{car.id}}">
                <div class="card zoom">
                    <header class="card-header" style="background-color: #3e8ed0;">
                        <p class="card-header-title has-text-white" style="font-size: xx-large;">
                            {{ car.model }} | {{car.category.name}}
                        </p>
                    </header>
                    <div class="card-image p-4">
                        <figure class="image is-4by3">
                            <img src="../../assets/{{car.imgPath}}" alt="Car image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="columns">
                            <div class="column">
                                <p>
                                    Year of production: {{ car.productionYear }}
                                </p>
                                <p>
                                    Mileage: {{ car.mileage }}
                                </p>
                                <p>
                                    Current location: {{ car.location.address }}
                                </p>
                            </div>
                            <div class="column">
                                <div class="columns">
                                    <div class="column">
                                        <p class="is-size-7">
                                            Price per day:
                                        </p>
                                        <p class="title is-4">
                                            &euro; {{car.category.pricePerDay}}
                                        </p>
                                    </div>
                                    <div class="column">
                                        <button class="button is-info" *ngIf="car.isAvaliable; else notAvaliable;">
                                            Book now
                                        </button>
                                        <ng-template #notAvaliable>
                                            <button class="button is-danger" disabled>
                                                Not avilable
                                            </button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer class="card-footer" style="background-color: #3e8ed0; color: white;">
                        <div class="card-footer-item has-icon-left">
                            <span class="icon">
                                <i class="fa-solid fa-people-group"></i>
                            </span>
                            <p>
                                {{ car.category.maxPeopleCapacity }}
                            </p>
                        </div>
                        <div class="card-footer-item has-icon-left">
                            <span class="icon">
                                <i class="fa-solid fa-suitcase"></i>
                            </span>
                            <p>
                                {{ car.category.maxBaggageCapacity }}
                            </p>
                        </div>
                        <div class="card-footer-item has-icon-left">
                            <span class="icon">
                                <i class="fa-solid fa-car"></i>
                            </span>
                            <p *ngIf="car.transmission; else carIsManual">
                                Automatic
                            </p>
                            <ng-template #carIsManual>
                                <p>
                                    Manual
                                </p>
                            </ng-template>
                        </div>
                    </footer>
                </div>
            </a>
        </div>
    </div>

    <nav class="pagination" role="navigation" aria-label="pagination">
        <button class="pagination-previous" [disabled]="isFirst" (click)="previousPage()">Previous</button>
        <button class="pagination-next" [disabled]="isLast" (click)="nextPage()">Next page</button>
        <ul class="pagination-list">
            <li *ngFor="let button of buttons; let i = index">
                <a class="pagination-link" (click)="setActive(i)" [ngClass]="{'is-current': button.isActive }" aria-current="page">{{ button.value + 1}}</a>
            </li>
        </ul>
    </nav>